
<!DOCTYPE html>
<html>
<head>
  <title>Twitter Data Analysis</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>

  <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <div class="custom-menu">
          <button type="button" id="sidebarCollapse" class="btn btn-primary">
          </button>
        </div>
        <div class="img bg-wrap text-center py-4">
          <div class="user-logo">
            <h1 style= "color:white;">Twitter Data Analysis</h1>
          </div>
        </div>
        <div class='description'>
       		<h5 style= "color:beige; text-align: center;">The embedding projector represents word embeddings corresponding to tweets.</h5>
       	</div>
        <ul class="list-unstyled components mb-5">
          
        </ul>

      </nav>

 <div id="content">
     <iframe style="height: 100%; width: 100%;" src="https://projector.tensorflow.org/?config=https://gist.githubusercontent.com/akshala/72a8e9b399332d74f3d208b94703ea1b/raw/9e4e1ec0672dddce6a24cb28c1f2cd6947a0e6cb/projector_config.json"></iframe> 
</div>

<script src="static/js/jquery.min.js"></script>
<script src="static/js/popper.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/main.js"></script>

</body>
</html>